.section-img {
  height: 70%;
  width: 70%;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-heading {
  color: var(--font-colour-light);
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  .section-heading {
    color: white;
  }
}
