img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-heading {
  color: var(--font-colour-light);
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  .section-heading {
    color: white;
  }
}
